/* GLOBAL */
.block{
padding: 50px;
}
.block:hover{
  background: rgba(0,0,0,0.5)
}
h1{
  font-size: 60px;
  margin-bottom: 49px;
}
.img{
  width:200px;
  height:200px;
  background:teal;
}
h2{
  font-size: 30px ;
  margin-bottom:18px;
  padding:18px;
  text-align: center
}
li{
  font-size: 20px;
  margin-bottom: 18px
  padding: 20px;
}
h3{
  font size: 24px;
  margin-bottom: 18px;
}
p{
  font-size: 16px;
}
/* Name */
.name{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgb(68,81,98);
  color: white;
  padding: 50px;
}

.name .img {
  height: 213px;
  width: 470px;
}
/* About */
.about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding:55px ;
  margin-top: 10px;
}
.about h2{
  text-align: start;
}
.about .img{
  height: 245px;
  width: 430px;
}
/* Dignity */
.dignity{
  background: rgb(180,180,180);
  color:white;
  padding: 50px ;
}
.dignity .cardList{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px 18px;
}
.dignity .card{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
}
.dignity .img{
  height: 32px;
  width: 32px;
}
/* Scrinshots */
.scrinshots{
  padding: 55px;
  margin-top: 50px
}
.scrinshots .cardList{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px 18px;
}
.scrinshots .card{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
}
.scrinshots img{
  width: 200px;
  height: 150px;
}
/* Review */

.reviews p{
  font-size: 14px;
}
.reviews .cardList{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px 30px;
}
.reviews .card{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 35px 18px;
}
.reviews .img{
  width: 76px;
  height: 76px;
  border-radius: 50%;
}
.reviews{
  background: rgb(190,190,190);
}
/* Buy */
.buy h1{
  font-size: 30px;
}
.buy .cardList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: end;
  color: white;
}
.buy .card{
  background: #445162;
  text-align: center;
}
.buy h3{
  font-size: 24px;
}
.buy p{
  font-size: 40px;
  background: white;
  color:  #445162
}
.buy ol{
    text-align: start;
}
.buy li{
  margin-bottom: 13px; 
}
.buy button{
  width: 100%;
}
.buy .text{
  padding: 20px;
}
